<link rel="stylesheet" href="<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant:wght@300&family=Inter:wght@100&family=Playfair+Display&display=swap" rel="stylesheet">

$font-playfair: "playfair display", sans serif;
$font-cormorant: "cormorant", sans serif;
$font-inter: "inter", sans serif;
$color-white: #fafafa;
$color-light-grey: #3c3636;
$color-dark-grey: #2c2a2a;
$color-beige: #D9BEA5;

