.heading {

    &__links{
        height: 10vh;
        padding: 0 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        color: $color-white;
    }

    &__name{
        font-family: $font-cormorant;
        color:$color-white;
        font-weight: 700;
        font-size: 48px;
        line-height: 57.6px;
            h1 span {
                color: $color-beige;
            }
    }

    &__link{
        font-family: $font-inter;
    font-size: 20px;
    }
}

.intro {

    &__mainheader{
        font-weight: 400;
        font-size: 128px;
    }

    &__text{
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        width: 50%;
    }
}

















.about-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:flex-start;

    &__leftside{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 33%;
    }

    &__about{
        font-weight: 700;
        font-size: 64px;
        line-height: 102.4px;
    }

    &__rightside{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width:33%;
    }
    &__img__resize:hover {
        opacity: 1;
    }
    
    &__img__resize {
        width: 458px;
        height: 568px;
        padding: 100px 1px;
    }
}





footer {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap:25px;
    height: 50px;
    text-align: center;
    background-color: $color-footer;
    float: none;
    clear: both;
}