/* Fonts for sass */

$color-white: #fafafa;
$color-light-grey: #3c3636;
$color-dark-grey: #2c2a2a;
$color-beige: #D9BEA5;
$color-footer: #3b3636

$font-playfair: 'Playfair Display', sans-serif;
$font-cormorant: 'Cormorant', sans-serif;
$font-inter: 'Inter', sans-serif;


