$font-playfair: "playfair display", sans serif;
$font-cormorant: "cormorant", sans serif;
$font-inter: "inter", sans serif;
$color-white: #fafafa;
$color-light-grey: #3c3636;
$color-dark-grey: #2c2a2a;
$color-beige: #D9BEA5;

