@media screen and (min-width:768px) {
    body {
        background-color: 2c2a2a;
        color: white;
        font-family: playfair display;
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }
    
    main {
        padding: 0px 40px;
        margin: 0;
    }

    a:hover {
        opacity: 0.5;
    }
    
    a:link,
    a:visited {
      text-decoration: none;
    }
    
    h1 {
        font-family: "cormorant", sans-serif;
    }
    
    h1 span {
        color: #D9BEA5;
    }
    
    
    p {
        font-family: "inter", sans-serif;
        font-size: 20px;
    }

    nav {
        height: 10vh;
        padding: 0 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .grid-container {
        display: flex;
        overflow-x: scroll;
        padding: 24px;
        width: 300px;
        scroll-snap-type: x mandatory;
        scroll-padding: 24px;
        border-radius: 8px;
        gap: 12px;
    }
    
    .grid-container .content-flex {
        flex: 50% 0 100%;
        padding: 24px;
        border-radius: 8px;
        scroll-snap-align: start;
    }
}