@use "./Sass/sections";
@use "./Sass/styles";

body {
    background-color: $color-light-grey;
    color: $color-white;
    font-family: $font-playfair;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

main {
    padding: 0px 40px;
    margin: 0;
}


/* link and button styles */

a:hover {
    opacity: 0.5;
}

a:link,
a:visited {
  text-decoration: none;
}


.button:hover {
    opacity: 0.5;
}

img:hover {
    opacity: 0.5;
}
