@use "./Sass/sections";
@use "./Sass/styles" as *;


@media screen  and (max-width:768px) {


    main {
        margin-left: 75px;
        width: 100vh;
        display: flex;
        flex-direction: column;
    }
    .heading {
        width: 100%;

        &__links {
        width: 100%;
        display: flex;
    }

    &__link {
        display: none;
    }
    }

    .about-container__rightside {
        display: none;
    }

    .about-container__leftside {
        text-align: left;
        padding: 30px;
        padding-bottom: 50px;
    }
    

    footer {
        width: 768px;
    }

    .contact__h1 {
        font-size: 75px;
    }

    .about-container__leftside {
        width: 50%;
    }
    } 






body {
    background-color: $color-dark-grey;
    color: $color-white;
    font-family: $font-playfair;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    
}


/* link and button styles */

a:hover {
    opacity: 0.5;
}

a:link,
a:visited {
  text-decoration: none;
}


.button:hover {
    opacity: 0.5;
}

img:hover {
    opacity: 0.5;
}
